{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
