.TimeTrackBlockLabel {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.TimeTrackBlockValue {
  font-size: 18px;
}

@media all and (min-width: 480px) {
  .TimeTrackBlockContainer {
    padding: 60px 0;
  }
  .TimeTrackBlock {
    margin: 0 auto;
    max-width: 320px;
    padding: 10px;
  }
}

.ErrorMessage {
  color: #d9504c;
  font-size: 14px;
  text-align: center;
}

.ProxyNotification {
  color: #aaa;
}
