@media all and (min-width: 480px) {
  .UserCreator {
    padding: 60px 0;
    background: green;
  }
  .UserCreator form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.UserCreator form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.ErrorMessage {
  color: #d9504c;
  font-size: 14px;
  text-align: center;
}
